//Variables css

:root {
  /*  Variables del proyecto  */

  /*  Anchura máxima del contenido en desktop */
  --max-width : 1200px;

  /*  Colores  */
  --primary-color     : #2A8BF4;
  --primary-color-alt : #035DBF;
  --title-color       : #121F26;
  --text-color        : #676F73;
  --body-bg-color     : #FAFDFF;
  --white-color       : #ffffff;
  --color             : var(--primary-color);
  --color-alt         : var(--primary-color-alt);

  /*  Fuentes  */
  --body-font  : 'Open Sans', sans-serif;
  --title-font : 'Proxima Nova Rg', sans-serif;

  /*  Tamaños  */
  --header-height     : 3rem;
  --width             : 100%;             
  --section-spacing   : 4rem;
  --block-spacing     : 2rem;
  --body-line-height  : 1.6;
  --title-line-height : 1.3;
  
  /* Tamaños de fuentes */
  --h1-font-size      : 2rem;
  --h2-font-size      : 1.5rem;
  --h3-font-size      : 1.25rem;
  --h4-font-size      : 1rem;
  --big-font-size     : 1rem;
  --normal-font-size  : 0.875rem;
  --small-font-size   : 0.75rem;
  --smaller-font-size : 0.6875rem;
  
  /* Capas */
  --z-back       : -10;
  --z-normal     : 1;
  --z-front      : 10;
  --z-tooltip    : 20;
  --z-overlay    : 30;
  --z-modal      : 40;
  --z-fixed      : 50;
  --z-off-canvas : 100;
  
  /* Otros */
  --border-radius : 0.5rem;
  --box-shadow    : 0 2px 2px rgba(36, 47, 66, 0.1);
}

@media screen and (min-width: 1024px) {
    
    /*  Variables de tamaño en desktop  */
    :root {
    --header-height         : 4rem;
    --section-spacing       : 8rem;
    --block-spacing         : 4rem;
    --h1-font-size          : 3rem;
    --h2-font-size          : 2rem;
    --h3-font-size          : 1.5rem;
    --h4-font-size          : 1.25rem;
    --big-font-size         : 1.25rem;
    --normal-font-size      : 1rem;
    --small-font-size       : 0.875rem;
    --smaller-font-size     : 0.75rem;
}

}


// Variables scss
/*  Variables del proyecto  */

  /*  Anchura máxima del contenido en desktop */
  $max-width : 1200px;
// icons 
$font-size-icon:1.5rem; 
  /*  Colores  */
  $white-color:#fff;
  $color-primary: #1A88E2;
  $color-primary-alt: #007BDF;
  $color-link: #1F98CC;
  $color-text-button: #EBF5FE;
  $color-search: #f1f3f4;
  $color-border: #cfcfcf;
  $color-text: #80868B;
  $color-text-input: #53575A;
  $color : var(--primary-color);
  $color-alt : var(--primary-color-alt);
  
  /*  Fuentes  */
  $body-font : 'Lato',
  sans-serif;
  $title-font : 'Open Sans',
  sans-serif;
  
  /*  Tamaños  */
  $header-height : 4rem;
  $width         : 100%;             
  $section-spacing : 8rem;
  $block-spacing : 4rem;
  $body-line-height : 1.6;
  $title-line-height : 1.3;

  /* Tamaños de fuentes */
$h1-font-size : 3rem;
$h2-font-size : 2rem;
$h3-font-size : 1.5rem;
$h4-font-size : 1.25rem;
$big-font-size : 1.25rem;
$normal-font-size : 1rem;
$small-font-size : 0.875rem;
$smaller-font-size : 0.75rem;

  /* Capas */
  $z-back : -10;
  $z-normal : 1;
  $z-front : 10;
  $z-tooltip : 20;
  $z-overlay : 30;
  $z-modal : 40;
  $z-fixed : 50;
  $z-off-canvas : 100;

  /* Otros */
  $border-radius : 0.5rem;
  $box-shadow : 0 2px 2px rgba(36, 47, 66, 0.1);



